{% extends 'base.html' %}
{% block content %}

<section id="home" class="py-5">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Informacion</h2>
                    <p class="lead"><a href="{% url 'lista_semanas' %}">Listado de Compras Semanas</a></p>
                    <p class="lead"><a href="{% url 'lista_recetas' %}">Listado de Recetas</a></p>
                    <p class="lead"><a href="{% url 'lista_ingredientes' %}">Listado de Ingredientes</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}