{% extends 'base.html' %}
{% block content %}

<section class="bg-light" id="director">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h1>Crear/Actualizar Semana</h1><br><br>
            </div>
            <div class="col-lg-8">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="table-light" >
                        {{ form.as_table }}
                    </table>
                    <table class="table-light" >

                            {{ recetas.management_form }}
                            {% for form in recetas %}
                            {{ form.id }}
                                {% for field in form.visible_fields %}
                                    {{ field.label_tag }} {{ field }}
                                {% endfor %}
                                <p></p>
                            {% endfor %}

                    </table>
                    <br>
                    <button type="submit" class="save btn btn-dark">Save</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}